<!doctype html>
<html lang="de">
<!-- https://fontawesome.com/v4.7/icons/ -->

<head>
    <meta charset="utf-8">

    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="AppTitle">
    <link rel="apple-touch-icon" sizes="152x152" href="https://img.icons8.com/color/152x152/anonymous-mask.png">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="static/base.js"></script>
    <title>HoemAutomation</title>
    {% block head %}{% endblock %}
</head>

<body>
    <div>
        <nav class="main-menu">
            <ul>
                <li>
                    <a href="/">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                </li>

                <li class="has-subnav">
                    <a href="arbeit">
                        <i class="fa fa-briefcase"></i>
                        <span class="nav-text">
                            Arbeit
                        </span>
                    </a>
                </li>

                <li class="has-subnav">
                    <a href="wetter">
                        <i class="fa fa-cloud"></i>
                        <span class="nav-text">
                            Wetter
                        </span>
                    </a>
                </li>

                <li>
                    <a href="menu">
                        <i class="fa fa-cog"></i>
                        <span class="nav-text">
                            Einstellungen
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="cont">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>